# **All Basics programs Of Python**

In [ ]:
print("Hello World")

Hello World

In [ ]:
name = "Asim"
age = 19
add = "Hyderabad"
print(name,age,add)

Asim 19 Hyderabad

In [ ]:
num1 = 30
num2 = 10
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

40
20
300
3.0

In [ ]:
name = "Ali"
age = 25
desg = "Lecturer"
salary = 40000.25
print(type(name))
print(type(age))
print(type(desg))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
num = input("Enter a Number")
print(num)

Enter a Number5
5

In [ ]:
num1 = int (input("Enter Number1"))
num2 = int (input("Enter Number2"))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

Enter Number1  15
Enter Number2  5
20
10
75
3.0

In [ ]:
num1 = int(input("Enter Num1"))
num2 = int(input("Enter Num2"))

op = input("Enter an operation which you have to perform(+, -, *, /)")

if op == '+':
  print(num1 + num2)
elif op == '-':
  print(num1 - num2)
elif op == '*':
  print(num1 * num2)
elif op == '/':
  print(num1/num2)

else:
  print("Inavlid Operation")

In [ ]:
num = int(input("Enter a Number:"))

print("Table of given number is")
for i in range(1,11):

    print(num,"*" ,i, " = ", num * i )

Enter a Number:5
Table of given number is
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

In [ ]:
num = int(input("Enter a Number:"))

fact = 1

for i in range(1,num+1):

  fact = fact * i


print("Factorial Of Given Number is :", fact)

Enter a Number:6
Factorial Of Given Number is : 720

# **STRINGS IN PYTHON**

In [ ]:
a = "asim"

b = " You are Student of computer science department"

print(a.capitalize())

print("Hello", a + b)# Concatination
print(len(b))

print(b.count('t'))

print(b.upper())

print(a.lower())

print(b.title())

print(a.index('m'))

print(b.index('Student'))

print(b.find('You'))

print(a.isalpha())

print(b.split())

print(a.replace('asim','Faisal'))

c= b[3]
print(c)

Asim
Hello asim You are Student of computer science department
47
5
 YOU ARE STUDENT OF COMPUTER SCIENCE DEPARTMENT
asim
 You Are Student Of Computer Science Department
3
9
1
True
['You', 'are', 'Student', 'of', 'computer', 'science', 'department']
Faisal
u



```
# This is formatted as code
```

# **LIST IN PYTHON**

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits[1:4])

fruits.append("Mango")# add ony one element at last

print(fruits.count("banana"))

fruits.extend('kiwi')# add many elements in list

fruits.pop()# delete last element in given list

fruits.remove('Mango')# delete specific element from list

fruits.reverse()

fruits.clear()# remove all elements from the list

if 'Mango' in fruits:

  print('Yes, apple is here')

else:
  print("Not here")


print(fruits)

['apple', 'pear', 'banana']
2
Not here
['w', 'i', 'k', 'banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
L = [1,2,3,4,5,6,7,8,9]

count = 0

for i in L:

  count+=  i

print("Sum = " , count)

Sum =  45

# **TUPLES IN PYTHON**

In [ ]:
T = (2,3,4,5,6,6)
print(T)
print(type(T))
print(T[0])
print(T[1])

print(T[0:5])

a = (1,9,8,4,6,6)
print(a)

print(a.count(6))
print(a.index(9))

print(a[2:5])

print(a[4])

(2, 3, 4, 5, 6, 6)
<class 'tuple'>
2
3
(2, 3, 4, 5, 6)
(1, 9, 8, 4, 6, 6)
2
1
(8, 4, 6)
6

**WRITE A PROGRAMM TO INPUT THREE YOUR FAVORITE MOVIE AND STORE IN LIST**

In [ ]:
l = []
l.append(input("Enter Your Favorite Movie Name:"))
l.append(input("Enter Your favorite Movie Name:"))
l.append( input("Enter Your Favorite movie name "))

print(l)

Enter Your Favorite Movie Name:SALAM E ISHQ
Enter Your favorite Movie Name:NATHIA GALI
Enter Your Favorite movie name HUM SATH SATH HY
['SALAM E ISHQ', 'NATHIA GALI', 'HUM SATH SATH HY']

In [ ]:
l = []

for _ in range(3):

  l.append(int(input("Enter Numbers:")))

copy_list = l.copy()
copy_list.reverse()

if(copy_list == l):

  print("Palindrome Number",l)

else:
  print("Not Palindrome")

Enter Numbers:5
Enter Numbers:2
Enter Numbers:5
Palindrome Number [5, 2, 5]

In [ ]:
t = ('C','D','A','A','B','A','D')

print(t.count('A'))

print(t)

3
('C', 'D', 'A', 'A', 'B', 'A', 'D')

# **DICTIONARY IN PYTHON**

In [ ]:
info = {

     "name" : "Asim",
     "age" : 19,
     "add" : "Hyderabad"
}
#print(info)

info['name'] = "Asif"
print(info)

print(info['name'])

print(info.get('name'))

print(info.items())

print(info.keys())

print(info.values())

Record = {

          "name" : ["Asim","Aatif","Hassan","Ahsan","Aamir","Muzammil"],
          "age" : (19, 2, 20, 20, 20, 20, 20),
          "address" : ["Hyderabad","Hyderabad","Sehwan","Jamshoro","Dadu","Hyderabad"],
          "GPA" : (3.11,3.0, 3.3 , 3.4, 3.3, 3.92 )
}

print(Record)

{'name': 'Asif', 'age': 19, 'add': 'Hyderabad'}
Asif
Asif
dict_items([('name', 'Asif'), ('age', 19), ('add', 'Hyderabad')])
dict_keys(['name', 'age', 'add'])
dict_values(['Asif', 19, 'Hyderabad'])
{'name': ['Asim', 'Aatif', 'Hassan', 'Ahsan', 'Aamir', 'Muzammil'], 'age': (19, 2, 20, 20, 20, 20, 20), 'address': ['Hyderabad', 'Hyderabad', 'Sehwan', 'Jamshoro', 'Dadu', 'Hyderabad'], 'GPA': (3.11, 3.0, 3.3, 3.4, 3.3, 3.92)}
{}

In [ ]:
#Now i create a null dictionary and add some value
null_dict = {}

null_dict['name'] = "Mahmood"
null_dict['age'] = 20
null_dict['add'] = "Darro"

print(null_dict)

#Nested Dictionary

Students = {

            "name": "Ali",
            "subjects":{

                        "Math":80,
                        "Chem":90,
                        "English":70,
                        "Physics":60

                        }
            }

print(list(Students.values()))

print(Students.get('subjects'))

print(Students.get('subjects').get('Math'))

print(list(Students.items())) # this method return value in tuple format and pair format

{'name': 'Mahmood', 'age': 20, 'add': 'Darro'}
['Ali', {'Math': 80, 'Chem': 90, 'English': 70, 'Physics': 60}]
{'Math': 80, 'Chem': 90, 'English': 70, 'Physics': 60}
80
[('name', 'Ali'), ('subjects', {'Math': 80, 'Chem': 90, 'English': 70, 'Physics': 60})]

In [ ]:
#Directly we not used
#print(Students["name"])
# instead of this we use method function for understand the code
#and made changes easily ton understand

#print(Students["name2"])

print(Students.get("name2")) # if key not exist it will return none value and other part of code will be executed

print(Students.values())

#update method
new_dict = {"City": "Karachi", "age": 19}

Students.update(new_dict)

print(Students)

None
dict_values(['Ali', {'Math': 80, 'Chem': 90, 'English': 70, 'Physics': 60}, 'Karachi', 19])
{'name': 'Ali', 'subjects': {'Math': 80, 'Chem': 90, 'English': 70, 'Physics': 60}, 'City': 'Karachi', 'age': 19}

# **SETS IN PYTHON**
**Sets are collection of unordered data**
**and they are immutable and having unique value**

**we also not used List and Ditionary while using Set **

Duplicate values are not allowed in SETS

**in SETS they are Mutable**
**but** the elemnets which are exist in SETS are immut**able in pytho**n **bold text**

In [ ]:
collection = {1,2,3,4,"Hello","World"}

print(collection)

print(type(collection))

print(len(collection))

#create an empty se

empty_set = set()

#Methods Of Sets in python
print(collection.add(5))
print(collection)

print(collection.clear())

print(collection)

print(collection.copy())

#create an other SETS
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result = set1.difference(set2)# this method returns a new set with elements in the set that are not in the other set(s).
print(result)  # Output: {1, 2}

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.difference_update(set2)# This method updates the set by removing elements found in the other set(s)
print(set1)  # Output: {1, 2}

#union of sets
#return combine value of both

print(set1.union(set2))

#intersection of sets
#return common value of both
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1.intersection(set2))






print(empty_set)

{1, 2, 3, 4, 'Hello', 'World'}
<class 'set'>
6
None
{1, 2, 3, 4, 'Hello', 5, 'World'}
None
set()
set()
{1, 2}
{1, 2}
{1, 2, 3, 4, 5, 6}
{3, 4}
set()

In [ ]:
#let's practice

dictionary = {

              "table": ["A Piece of Furniture", "List of facts and figures"],
              "Cat" : "A small animal"
}

print(dictionary)

#Another Practice Question
sets = {
    "Python", "Java", "C++", "C", "C#", "JavaScript", "Python", "Java", "C++"
  }

print(sets)

print(len(sets))

x={9,'9.0'}
print(x)

{'table': ['A Piece of Furniture', 'List of facts and figures'], 'Cat': 'A small animal'}
{'JavaScript', 'C', 'Java', 'C++', 'Python', 'C#'}
6
{9, '9.0'}

In [ ]:
marks={}
x = input("Enter Marks of physics")
marks.update({"physics":x})

y= input("Enter Marks Of Chemistry")
marks.update({"Chemistry":y})

z= input("Enter Marks Of Maths")
marks.update({"Maths":z})

print(marks)

Enter Marks of physics80
Enter Marks Of Chemistry90
Enter Marks Of Maths70
{'physics': 80, 'Chemistry': 90, 'Maths': 70}

# **FUNCTIONS IN PYTHON**

GROUP OF STATEMENT THAT PERFORM SPECIAL TASK

In [ ]:
def my_function():
  print("Hello World")

my_function()

def calc_sum(num1, num2):
  sum = num1 + num2
  print(sum)

calc_sum(10,20)

def fact(num):
  fact = 1
  for i in range(1,num+1):
    fact = fact * i
  print(fact)

fact(5)

def table(num):
  for i in range(1,11):
    print(num, "*", i, "=", num *i)
table(5)

def evenodd(num):

  if num%2 == 0:
    print("Even")

  else:
    print("odd Number")

evenodd(5)

Hello World
30
120
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
odd Number

In [ ]:
def avg(num1,num2,num3):
  avg = (num1+num2+num3)/3
  print(avg)

avg(10,20,30)

# Exchange rates (example rates, these should be updated to current rates)
USD_TO_PKR_RATE = 286.50  # 1 USD = 286.50 PKR
PKR_TO_USD_RATE = 1 / USD_TO_PKR_RATE  # 1 PKR = 1/USD_TO_PKR_RATE USD

def usd_to_pkr(usd):
    return usd * USD_TO_PKR_RATE

def pkr_to_usd(pkr):
    return pkr * PKR_TO_USD_RATE

def main():
    print("Currency Converter")
    print("1: Convert USD to PKR")
    print("2: Convert PKR to USD")

    choice = input("Enter 1 or 2: ")

    if choice == '1':
        usd = float(input("Enter amount in USD: "))
        pkr = usd_to_pkr(usd)
        print(f"{usd} USD is equal to {pkr:.2f} PKR")
    elif choice == '2':
        pkr = float(input("Enter amount in PKR: "))
        usd = pkr_to_usd(pkr)
        print(f"{pkr} PKR is equal to {usd:.2f} USD")
    else:
        print("Invalid choice. Please enter 1 or 2.")

if __name__ == "__main__":
    main()

20.0
Currency Converter
1: Convert USD to PKR
2: Convert PKR to USD
Enter 1 or 2: 2
Enter amount in PKR: 15000
15000.0 PKR is equal to 52.36 USD

# **RECURSION IN PYTHON**
WHEN A FUNCTION CALL ITS SELF REPEATEDLY

In [ ]:



def show(n):
  if n > 0:
    show(n-1)
    print(n)

show(5)

def sum(n):
  if n == 0:
    return 0
  else:
    return sum(n-1) + n

sum(5)

def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(5)


def show(n):

  if n == 0:
    return
  else:
    show(n-1)
    print(n)

show(5)

1
2
3
4
5
1
2
3
4
5

In [ ]:
def factorial(n):
  if n == 1:  #Base Case
    return 1
  else:
    return n * factorial(n-1)

factorial(5)

120

In [ ]:
def table(n):
  for i in range(1,11):
    print(n,"*",i,"=",n*i)

table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# **FILE INPUT OUTPUT IN PYTHON**

File input-output we have two types of files

**Text Files**
.txt, .docx, .long,

**Binary Files**
.png, .mp4,.mov,.jpeg

**first, we open the file using Open built-in function and provide format like **read or write the data and then print it and also close same thing bold text


f = open("Document", "Read or Write")

print(f.read())

f.close() **bold text** bold text

# **OBJECT-ORIENTED PROGRAMMING CONCEPTS**

In [ ]:
class students :

  name = "Asim"

s1 = students()

print(s1.name)

class cars:
  def __init__(self, name, model, year):
    self.name = name
    self.model = model
    self.year = year

car1 = cars(name = "Toyota", model = "Corolla", year = 2022)

print(car1.name)
print(car1.model)
print(car1.year)

Asim
Toyota
Corolla
2022

init function used in python it is also
kmown as constructor, it always executed when
class being initiated

self parameter
reference to the current instances of class and used to access variable in class

In [ ]:
#Default constructor

class students:
  def __init__(self):
    print("This is default constructor")


#Parameterized Constructor

class students:
  def __init__(self, name, age):
    print("This is Parameterized constructor")
    self.name = name
    self.age = age


s1= students("Asim", 19)
print(s1.name)
print(s1.age)


#class and instance attribute

class students:
  def __init__(self, name, age):
    self.name = name
    self.age = age

s1 = students("Asim", 19)

print(s1.name)
print(s1.age)


#Methods
#They are functions that belonging to object

class Bank:
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

  def hello(self):
    print("Hello",self.name,"Your Balance is" , self.balance)

emp1 = Bank("Asim", 5000)

emp1.hello()

This is Parameterized constructor
Asim
19
Asim
19
Hello Asim Your Balance is 5000

In [ ]:
class students:

  def __init__(self, name, marks):
    self.name = name
    self.marks = marks


  def get_avg(self):

    sum = 0

    for val in self.marks: